
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
        }


        body {
            color:black;
            line-height: 1.2;

        }

        a {
            text-decoration: none;
            color: black;
            transition: 0.3s;
        }

        ul {
            list-style: none;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .btn {
            display: inline-block;
            padding: 12px 24px;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .btn-primary {
            background-color:#2E7D55;
            color: white;
            border: 2px solid #2E7D55;
        }

        .btn-primary:hover {
            background-color: #246343;
            border-color: #246343;
        }

        .btn-outline {
            background-color: transparent;
            color: white;
            border: 2px solid white;
            margin-left: 10px;
        }

        .btn-outline:hover {
            background-color:#F95555;
            color:white;
        }

                /* *--- NAVBAR --- */

        header {
            padding: 20px 0;
            background-color:white;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo img {
            height: 60px;
            vertical-align: middle;
        }

        .nav-links {
            display: flex;
            gap: 30px;
        }

        .nav-links a {
            font-weight: 500;
            color:#000000;
            font-size: 16px;
        }

        .nav-links a:hover {
            color: #2E7D55;
        }

        .nav-cta {
            font-size:16px;
            color:white;
            font-weight: 600;
            padding: 12px 24px;
            border-radius: 5px;
            cursor: pointer;
            background-color:#2E7D55;
        }

                /* *--- HERO SECTION --- */

        .badge {
            display: inline-flex;
            align-items: center;
            gap: 12px;

            padding: 12px 22px;
            border-radius: 999px;

            background: #ffffff;
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
        }

        .dot {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #4caf50;
            box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.35);
        }

        .text {
            font-size: 16px;
            font-weight: 500;
            color: #469165;
            white-space: nowrap;
        }

        .hero {
            padding: 80px 0;
            background-image: url(/assets/hero-bg.png);
            background-size: cover;
            background-position: center;
            text-align: center;
        }

        .hero h1 {
            padding-top: 15px;
            font-size:75px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .hero p {
            text-align: center;
            font-size:18px;
            font-weight: 400;
            line-height: 30px;
            color: white;
            max-width: 700px;
            margin: 0 auto 40px auto;
            text-align: center;
        }

        .hero-buttons {
            margin-bottom: 50px;
        }

                /* *--- PROBLEM SECTION --- */

        .problem-section {
            padding:80px 120px 120px 120px;
            text-align: center;
            max-width: 1600px;
            height: 448px;


        }
        .problem-section h2 {
            font-size: 48px;
            font-weight: bold;
            color: #001931;
            margin-bottom: 15px;
            margin-top: 50px;
            text-align: center;
        }

        .problem-section .subtext {
            color:#627382;
            margin-bottom: 60px;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
        }

        .grid {
            max-width:1460px;
            height: 300px;
            display: flex;
            gap: 24px;
            align-items: center;
        }

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 430px;
            height: 300px;
            background:white;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.05);
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .card-icon {
            width: 50px;
            height: 50px;
            background-color: #F95555;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .card-icon img {
            width: 24px;
            height: 24px;
            background:rgba(249, 85, 85, 1);
        }

        .card h3 {
            text-align: center;
            width: 100%;
            font-size:20px;
            font-weight: 600;
            color: #001931;
    
        }

        .card p {
            text-align: center;
            padding-top: 16px;
            color:#627382;
            font-size:15px;
        }
