
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
        }


        body {
            color:black;
            line-height: 1.2;

        }

        a {
            text-decoration: none;
            color: black;
            transition: 0.3s;
        }

        ul {
            list-style: none;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .btn {
            display: inline-block;
            padding: 12px 24px;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .btn-primary {
            background-color:#2E7D55;
            color: white;
            border: 2px solid #2E7D55;
        }

        .btn-primary:hover {
            background-color: #246343;
            border-color: #246343;
        }

        .btn-outline {
            background-color: transparent;
            color: white;
            border: 2px solid white;
            margin-left: 10px;
        }

        .btn-outline:hover {
            background-color:#F95555;
            color:white;
        }

                /* *--- NAVBAR --- */

        header {
            padding: 20px 0;
            background-color:white;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo img {
            height: 60px;
            vertical-align: middle;
        }

        .nav-links {
            display: flex;
            gap: 30px;
        }

        .nav-links a {
            font-weight: 500;
            color:#000000;
            font-size: 16px;
        }

        .nav-links a:hover {
            color: #2E7D55;
        }

        .nav-cta {
            font-size:16px;
            color:white;
            font-weight: 600;
            padding: 12px 24px;
            border-radius: 5px;
            cursor: pointer;
            background-color:#2E7D55;
        }

                /* *--- HERO SECTION --- */

        .badge {
            display: inline-flex;
            align-items: center;
            gap: 12px;

            padding: 12px 22px;
            border-radius: 999px;

            background: #ffffff;
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
        }

        .dot {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #4caf50;
            box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.35);
        }

        .text {
            font-size: 16px;
            font-weight: 500;
            color: #469165;
            white-space: nowrap;
        }

        .hero {
            padding: 80px 0;
            background-image: url(../assets/hero-bg.png);
            background-size: cover;
            background-position: center;
            text-align: center;
        }

        .hero h1 {
            padding-top: 15px;
            font-size:75px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .hero p {
            text-align: center;
            font-size:18px;
            font-weight: 400;
            line-height: 30px;
            color: white;
            max-width: 700px;
            margin: 0 auto 40px auto;
            text-align: center;
        }

        .hero-buttons {
            margin-bottom: 50px;
        }

                /* *--- PROBLEM SECTION --- */

        .problem-section {
            padding:10px 120px 120px 120px;
            text-align: center;
            max-width: 1600px;
            height: 448px;


        }
        .problem-section h2 {
            font-size: 48px;
            font-weight: bold;
            color: #001931;
            margin-bottom: 15px;
            margin-top: 50px;
            text-align: center;
        }

        .problem-section .subtext {
            color:#627382;
            margin-bottom: 60px;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
        }

        .grid {
            max-width:1460px;
            height: 300px;
            display: flex;
            gap: 24px;
            align-items: center;
        }

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 430px;
            height: 300px;
            background:white;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.05);
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .card-icon {
            width: 50px;
            height: 50px;
            background-color: #F95555;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .card-icon img {
            width: 24px;
            height: 24px;
            background:rgba(249, 85, 85, 1);
        }

        .card h3 {
            text-align: center;
            width: 100%;
            font-size:20px;
            font-weight: 600;
            color: #001931;
    
        }

        .card p {
            text-align: center;
            padding-top: 16px;
            color:#627382;
            font-size:15px;
        }


                /* *--- SOLUTION SECTION --- */

        .solution-section {
            margin-top: 50px;
            max-width: 1600px;
            height: 840px;
            padding-top: 80px;
            padding-bottom: 130px;
        }
        .solution-section .container{
            margin-left: 140px;
            display: flex;
            max-width: 1360px;
            height: 600px;
            align-items: center;
            gap: 60px;
        }
        .solution-section .knowledge{
            max-width: 600px;
            height: 500px;
        }

        .solution-content {
            max-height: 700px;
            height: 396px;
            display: flex;
            align-items: center;
            gap: 50px;
            flex-wrap: wrap;
        }

        .solution-text {
            flex: 1;
            min-width: 300px;
        }
        .solution-text .h-upper{
            color: #469165;
        }
        .solution-text h2 {
            font-size:48px;
            font-weight: bold;
            margin-bottom: 20px;
            line-height: 1.2;
        }

        .solution-text p {
            font-size: 16px;
            font-weight: 400;
            color:#627382;
            margin-bottom: 30px;
            font-size: 1.1rem;
        }

        .feature-list li {
            gap: 8px;
            font-size: 16px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            font-weight: 500;
        }

        .feature-list li::before {
            color:#2E7D55;
            margin-right: 10px;
            font-weight: bold;
        }


                /* *--- CTA SECTION --- */

        .cta-section {
            padding:0px 120px 170px 120px;
            color:black;
            text-align: center;
            max-width: 1600px;
            height: 506px;

        }
        .cta-section .container{
            background-color: #F7F6F2;
            width: 1360;
            height: 384px;
            padding: 80px 40px;
            border-radius: 20px;
        }

        .cta-section h2 {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .cta-section p {
            color:#627382;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 25px;
            line-height: 24px;
        }
        

        /* *--- FOOTER --- */

        footer {
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            color:white;
            max-width: 1600px;
            height: 348px;
            background-color: #001931;
            padding-top: 120px;
        }
        .footer {
            background: linear-gradient(to right, #03152d, #04233f);
            color: white;
            padding: 60px 80px 30px;
            font-family: Arial, sans-serif;
        }

        .footer-container {
            padding-top: 80px;
            margin-left: 100px;
            margin-right: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer-left {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .logo {
            width: 139px;
            height: 60px;
        }

        .footer-left h2 {
            font-size: 28px;
            margin: 0;
            color: #00ff99;
        }

        .footer-left p {
            font-size: 14px;
            color: #FAFAFA;
            margin: 0;
        }

        .footer-right h4 {
            margin-bottom: 12px;
            font-size: 20px;
            font-weight: 500;
        }

        .social-icons {
            display: flex;
            gap: 16px;
        }

        .social-icons a {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: white;
            color: #03152d;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 16px;
            transition: 0.3s;
        }

        .social-icons a:hover {
            background:#542ed2;
            color: #03152d;
        }

        .footer-bottom {
            margin-top: 40px;
            text-align: center;
        }

        .footer-bottom hr {
            margin-left: 100px;
            margin-right: 100px;
            border: none;
            height: 1px;
            background: rgba(255,255,255,0.2);
            margin-bottom: 15px;
        }

        .footer-bottom p {
            padding-top: 25px;
            font-size: 16px;
            font-weight: 400;
            color: #FAFAFA;
        }

